html body{
  background-color:#fff !important;
}
.card-inner {
    border: solid #eee 1px;
    overflow: hidden;
    min-height: 8rem;
}

.card-img {
  height: 4rem;
  border-bottom: solid 1px #eae8e8;
  margin: 0 0.25rem;
}

.card-img img {
    width: 100%;
    height: 100%;
    padding: 0.35rem 0.5rem;
}

.card-txt {
    height: 4rem;
}

.card-txt span {
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
    display: block;
    padding: 0.25rem;
}

.card-txt .card-desc {
    font-size: 0.55rem;
    text-align: center;
    color: #cccccc;
    line-height: 1.25rem;
}

.aui-list-item-inner {
    padding: 0.75rem 0.75rem 0 0.75rem;
}

.top-header {
    font-size: 0.75rem;
    font-weight: 700;
    padding-left: 0.25rem;
    border-left: solid #009688 2px;
    margin-bottom: 0.5rem;
}
