html, body {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    flex-flow: column;
    -webkit-flex-flow: column;
    -webkit-box-orient: vertical;
}


/*首页头部导航*/

.header {
    height: 43px;
    width: 100%;
    display: none;
    line-height: 50px;
}

.header.active {
    display: block;
}

.bg-green{
  background-color: #009688 !important;
}
.header .head-title {
    background-color: #009688;
    color: white;
    text-align: center;
    font-size:  1rem;
    line-height: 55px;
}

.header.my {
    height: 0;
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    background-color: #f4f5f6;
}

.footer {
    height: 44px;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    flex-flow: row;
    -webkit-flex-flow: row;
    -webkit-box-orient: horizontal;
    background-color: #ffffff;

}

.menu {
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    height: 44px;
    box-sizing: border-box;
    padding-bottom: 5px;
    padding-top: 27px;
    color: #585858;
    font-size: 10px;
    text-align: center;
    background-size: 22px 22px;
    background-position: center 5px;
    background-repeat: no-repeat;
}

.footer .home {
    background-image: url(../image/footer/home.png);
}

.footer .fuwu {
    background-image: url(../image/footer/fuwu.png);
}

.footer .faxian {
    background-image: url(../image/footer/faxian.png);
}

.footer .my {
    background-image: url(../image/footer/my.png);
}

.footer .home.active {
    background-image: url(../image/footer/home_act.png);
}

.footer .fuwu.active {
    background-image: url(../image/footer/fuwu_act.png);
}

.footer .faxian.active {
    background-image: url(../image/footer/faxian_act.png);
}

.footer .my.active {
    background-image: url(../image/footer/my_act.png);
}

header>div:nth-child(1) {
    position: relative;
    background-color: rgb(60, 179, 113);
    height: 50px;
}

header>div:nth-child(2) {
    position: relative;
    height: 50px;
    background-color: rgb(252, 252, 252);
}

header>div:nth-child(3) {
    position: relative;
    height: 50px;
    background-color: rgb(252, 252, 252);
}


/* header home */

.home-citylist {
    float: left;
    height: 50px;
    line-height: 55px;
    color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.home-citylist>img {
    height: 20px;
    vertical-align: top;
    padding-top: 17px;
}

.home-search {
    width: 85%;
    height: 50px;
    line-height: 55px;
    text-align: center;
    font-size: 1rem;
    color: white;
}
