body {
    background-color: #f4f5f6;
}


/*九宫格*/

.jiu-section {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: white;
    margin:0 0 10px 0;
}

.category li {
    display: inline-block;
    width: 24%;
    text-align: center;
    padding: 12px 0;
}

.category li img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.category li span {
    margin: 5px 10px 0 10px;
    font-size: 12px;
}


/*广告*/

.advert-section {
    background-color: white;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.advert {
    height: 40px;
    width: 100%;
    border-bottom: solid #f4f4f4 1px;
}

.advert img {
    width: 25px;
    height: 25px;
    padding: 8px 0 0 10px;
    float: left;
}

.advert .advert-txt {
    font-size: 14px;
    color: #999;
    text-align: left;
    line-height: 45px;
    padding-left: 37px;
}

/*首页列表*/

.homeList-title {
    width: 100%;
    height: 32px;
    overflow: hidden;
    border-bottom: solid #f8f8f8 1px;
}

.homeList-title img {
    width: 20px;
    height: 20px;
    padding: 6px 5px 0 10px;
    float: left;
}

.homeList-title span {
    font-size: 14px;
    color: red;
    line-height: 35px;
    display: block;
}

.home-list {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.cont {
    height: 62px;
    border-bottom: 1px solid #f8f8f8;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 62px;
    position: relative;
    background-color: #fff;
    margin-top: 10px;
}

.cont img {
    width: 55px;
    height: 45px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.text1 {
    line-height: 17px;
    font-size: 15px;
    color: #222;
    margin-bottom: 5px;
}

.text2 {
    line-height: 14px;
    font-size: 11px;
    color: #999;
}

/*.arrow {
    width: 55px;
    height: 29px;
    position: absolute;
    right: 10px;
    bottom: 16px;
    line-height: 33px;
    font-size: 14px;
    color: green;
    border: solid green 1px;
    text-align: center;
    border-radius: 5px;
}

.arrow:active {
    opacity: 0.55;
}*/
.arrow {
    width: 40px;
    height: 62px;
    background-image: url(../image/home/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-position: center center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.group {
    background-image: url("../image/icon_home_group@2x.png");
}

.self {
    background-image: url("../image/icon_home_self_service@2x.png");
}

.ship {
    background-image: url("../image/icon_home_ship@2x.png");
}

.ticket {
    background-image: url("../image/icon_home_ticket@2x.png");
}

.drive {
    background-image: url("../image/icon_home_drive@2x.png");
}

.visa {
    background-image: url("../image/icon_home_visa@2x.png");
}

.hotel {
    background-image: url("../image/icon_home_hotel@2x.png");
}

.hotspot {
    background-image: url("../image/icon_home_hotspot@2x.png");
}

img {
    width: 100%;
    height: 100%;
}

.imgs {
    padding: 10px 0;
    display: -webkit-box;
    width: 100%;
    background-color: #F0F0F0;
}

.imgs li {
    -webkit-box-flex: 1;
    height: 55px;
}

.imgs li:not(:last-child) {
    -webkit-box-flex: 1;
    border-right: 1px solid #EDEDEB;
    height: 55px;
}

.img:first-of-type {
    padding-top: 0;
}

.img {
    height: 124px;
    padding-top: 10px;
    background-color: #F4F4F4;
    position: relative;
}

dt {
    height: 35px;
    line-height: 35px;
}

dt :first-child {
    width: 80%;
    padding-left: 10px;
}

dt :last-child {
    color: #3ABA63;
}

.detail {
    padding: 5px 10px;
    color: #A4A4A4;
    font-size: 10px;
    line-height: 18px;
    border-bottom: 1px solid #EDEDED;
}

.detail:first-line {
    color: #000000;
    font-size: 15px;
}

.price {
    font-size: 16px;
    padding-left: 10px;
    border-bottom: 1px solid #EDEDED;
    -webkit-box-flex: 1;
    line-height: 25px;
}

.newPrice {
    color: #F67570;
}

.oldPrice {
    color: #999999;
    font-size: 10px;
    margin-left: 15px;
}

.zero-buy {
    border-bottom: 1px solid #EDEDED;
    display: -webkit-box;
}

.zero-buy .price {
    border-bottom: none;
}

.buy {
    display: block;
    width: 20%;
    margin: 2px 5% 2px 0;
    background-color: #FC7924;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    height: 12px;
    font-size: 12px;
}

.together :first-child:not(p) {
    line-height: 30px;
}

.together li {
    margin-left: 10px;
}

.together li:not(:last-child) {
    border-bottom: 1px solid #EDEDED;
}

.together :not( :first-child):not(p) {
    height: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../image/home_icon_hot@2x.png");
}

.together p {
    margin-left: 70px;
    line-height: 25px;
}


/*
#757575
*/


/*slide*/

.swipe {
    /*overflow: hidden;*/
    /*visibility: hidden;*/
    position: relative;
}

.swipe-wrap {
    /*overflow: hidden;*/
    position: relative;
    height: 157px
}

.swipe-wrap>div {
    float: left;
    width: 100%;
    position: relative;
}

.swipe-wrap>div {
    overflow: hidden;
    position: relative;
}

.swipe-wrap img {
    width: 100%;
    height: auto;
    max-height: 240px;
    min-height: 132px;
    min-width: 320px;
    max-width: 640px;
}

#slide {
    margin: 0 auto;
    position: relative;
}

.lable {
    background-image: -webkit-linear-gradient(top, rgba(59, 59, 59, .6), rgba(27, 27, 27, .6), rgba(50, 50, 50, .4), rgba(31, 31, 31, .4));
    background-image: linear-gradient(top, rgba(59, 59, 59, .6), rgba(27, 27, 27, .6), rgba(50, 50, 50, .4), rgba(31, 31, 31, .4));
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    display: block;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#pointer {
    position: absolute;
    bottom: 12px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#pointer div {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-right: 4px;
    background-color: #FFFFFF;
}

#pointer div.active {
    background-color: #999999;
}

.guarantee {
    overflow: hidden;
    padding-top: 15px;
}

.guarantee ul {
    display: -webkit-box;
}

.guarantee li {
    -webkit-box-flex: 1;
    padding: 5px 5px;
}

.guarantee li span {
    padding-left: 40%;
}

.guarantee li:not(:last-child) {
    border-right: 1px solid #EDEDEB;
}

.icon {
    background-position: 10% center;
    background-repeat: no-repeat no-repeat;
    background-size: 40px;
}

.guarantee-1 {
    background-image: url("../image/guarantee-1.png");
}

.guarantee-2 {
    background-image: url("../image/guarantee-2.png");
}

.guarantee-3 {
    background-image: url("../image/guarantee-3.png");
}

.footer {
    text-align: center;
    padding: 20px 0;
}

.footer .line {
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left center, right center, color-stop(0, #fff), color-stop(0.5, #bfbfbf), color-stop(1, #fff));
}

.t {
    color: #aaa;
    position: relative;
    top: -10px;
    text-align: center;
}

.o {
    position: relative;
    background: #fff;
    padding: 0 20px;
}

.dott {
    position: absolute;
    top: 6px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: rgba(191, 191, 191, 0.8);
}

.left-dott {
    left: 0;
}

.right-dott {
    right: 0;
}

/*滚动部分*/
.round-section {
    background-color: #fff;
    height: 2rem;
    position: relative; 
    margin-bottom: 10px;
}

.round-section img {
    width: 1.5rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
}

.round-content {
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    top: 0.3rem;
    left: 1.3rem;
    z-index: 2;
}

#wenchuan {
    overflow: hidden;
    height: 150px;
}

li {
    line-height: 1.8;
    font-size: 0.85rem;
    color:gray;
    padding-left: 16px;
    overflow: hidden
}
