html, body {
    background-color: #f4f5f6 !important;
}

.home-list {
    width: 100%;
    /*background-color: white;*/
    overflow: hidden;
}

.cont {
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    padding-top: 8px;
    padding-left: 62px;
    position: relative;
    background-color: #fff;
    background-color: white;
    overflow: hidden;
    /*margin-top: 10px;*/
}

.cont img {
    width: 18%;
    height: 44px;
    position: absolute;
    left: 2px;
    bottom: 9px;
}

.text1 {
    line-height: 17px;
    font-size: 15px;
    color: #222;
    margin-bottom: 5px;
    width: 75%;
    padding-left: 0.5rem;
}

.text2 {
    width: 75%;
    line-height: 14px;
    font-size: 11px;
    color: #999;
    padding-left: 0.5rem;
}


/*.arrow {
    width: 40px;
    height: 62px;
    background-image: url(../../image/home/arrow-left.png);
    background-repeat: no-repeat;
    background-size: 15px 20px;
    background-position: center center;
    position: absolute;
    right: 0;
    bottom: 0;
}*/

.arrow {
    width: 55px;
    height: 27px;
    position: absolute;
    right: 10px;
    bottom: 16px;
    line-height: 29px;
    font-size: 14px;
    color: green;
    border: solid green 1px;
    text-align: center;
    border-radius: 5px;
}

.arrow:active {
    opacity: 0.55;
}
